<div class="card w-80 lg:w-96 h-96 lg:h-128 py-32 bg-base-100 shadow-xl mx-0 lg:mx-5 mt-5 relative">
  <p class="absolute top-1 left-1"><%= current_user.username %></p>
  <div class="card-body items-center text-center">
    <div class="card-actions text-2xl"><%= link_to schedule_basis.title, schedule_basis_path(schedule_basis) %></div>
    <div class="mt-8">
      <p class="text-primary">This one is schedule-based.</p>
      <p class="text-primary">There are  <span class="text-agate"><%= schedule_basis.task_bases.length %></span>tasks.</p>
      <p>Type : <%= schedule_basis.pattren %></p>
    </div>
  </div>
  <div class="">
    <%= link_to schedule_basis_path(schedule_basis), class: "absolute left-28 lg:left-36 bottom-0 pt-5 mb-0.5 bg-headline hover:bg-agate text-natural hover:text-headline w-24 rounded-t-full", method: :get do %>
        <i class="fa-solid fa-chevron-up ml-10"></i>
    <% end %>
  </div>
</div>
