<%= render 'shared/flash' %>
<div class="bg-natural pb-12 lg:pb-48 h-min-screen lg:h-screen">
  <h1 class="text-xl">Schedule Basis Index</h1>
  <div class="flex justify-center">
    <div class="grid grid-col-1 lg:grid-cols-3 gap-1 lg:gap-3 my-5 lg:my-0">
      <% if @schedule_bases.count < 2 %>
        <%= render 'schedule_bases/modal_form', schedule: @schedule_basis %>
      <% end %>
      <% @schedule_bases.each do |schedule_basis| %>
        <div class="card w-80 lg:w-96 h-96 lg:h-128 py-32 bg-base-100 shadow-xl mx-0 lg:mx-5 mt-5 relative">
          <p class="absolute top-1 left-1"><%= current_user.username %></p>
          <div class="card-body items-center text-center">
            <div class="card-actions text-2xl"><%= link_to schedule_basis.title, schedule_bases_path(schedule_basis) %></div>
            <div class="mt-8">
              <p>This one is schedule-based.</p>
              <p>There are  <span class="text-agate"><%= schedule_basis.task_bases.length %></span>tasks.</p>
            </div>
          </div>
        </button>
        <%= render 'schedule_bases/modal_form', schedule: @schedule_basis %>
      <% end %>
      <%= render @schedule_bases %>
    </div>
  </div>
</div>
