<div class="mt-12">
  <div class="flex justify-start">
    <h1 class="font-bold text-2xl"> Schedule</h1>
    <%= @schedule.title %>
    <%= button_to edit_schedule_path(@schedule), method: :get do %>
      <i class="fa-solid fa-pen"></i>
    <% end %>
    <label for="my-modal"><i class="fa-solid fa-trash"></i></label>
    <input type="checkbox" id="my-modal" class="modal-toggle">
      <div class="modal">
        <div class="modal-box relative">
          <label for="my-modal" class="btn btn-sm btn-circle absolute right-3 top-3">✕</label>
          <h3 class="font-bold text-lg">Congratulations random Interner user!</h3>
          <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
          <div class="modal-action">
            <%= button_to "#", method: :delete do %>
              <label for="my-modal" class="btn btn-error">delete</label>
            <% end %>
          </div>
        </div>
      </div>
    <%= link_to "一覧", schedules_path %>
  </div>
  <div class="flex justify-center">
    <div class="w-96 h-96">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  <h2 class="text-2xl my-5">Time Schedule</h2>
  <div id="tasks">
    <%= render @tasks %>
  </div>
  <%= turbo_frame_tag [@schedule, @task] do %>
    <%= form_with(model: [@schedule, @task], method: :post) do |f| %>
      <%= f.text_field :title %>
      <%= f.collection_select :category, Category.all, :name, :name, options = { include_blank: true} %>
      <%= f.time_field :time_start %>
      <%= f.time_field :time_end %>
      <%= f.hidden_field :schedule_id, value: @schedule.id %>
      <%= f.submit "追加" %>
    <% end %>
  <% end %>
</div>


<script>
  const labels = [
    'Programming',
    'Human Resource',
    'Routing',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: ['rgb(255, 99, 132, 0.5)', 'rgb(25, 49, 100, 0.5)', 'rgb(25, 39, 32, 0.5)'],
      data: [45, 25, 30],
    }]
  };

  const config = {
  type: 'polarArea',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Polar Area Chart'
      }
    }
  },
};

  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
