<div class="mx-24 mt-12">
  <h1 class="font-bold text-4xl">Schedules#show</h1>
  <p>Find me in app/views/schedules/show.html.erb</p>
  <div class="flex justify-center">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Analysis</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
  <%= @schedule.id %>
  <%= @schedule.title %>
  <%= button_to edit_schedule_path(@schedule), method: :get do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>

  <label for="my-modal"><i class="fa-solid fa-trash"></i></label>
  <input type="checkbox" id="my-modal" class="modal-toggle">
    <div class="modal">
      <div class="modal-box relative">
        <label for="my-modal" class="btn btn-sm btn-circle absolute right-3 top-3">✕</label>
        <h3 class="font-bold text-lg">Congratulations random Interner user!</h3>
        <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
        <div class="modal-action">
          <%= button_to @schedule, method: :delete do %>
            <label for="my-modal" class="btn btn-error">delete</label>
          <% end %>
        </div>
      </div>
    </div>
  <%= link_to "一覧", schedules_path %>
</div>

