<div class="mx-24 mt-12">
  <h1 class="font-bold text-4xl">Schedules#show</h1>
  <p>Find me in app/views/schedules/show.html.erb</p>
  <div class="flex justify-center">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Analysis</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
  <%= @schedule.id %>
  <%= @schedule.title %>
  <%= button_to edit_schedule_path(@schedule), method: :get do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>
  <%= button_to "Delete", @schedule, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
  <%= link_to "トップページ", root_path %>
</div>
