<div class="navbar bg-natural py-10">
  <div class="flex-1">
    <%= link_to 'a meta note', schedules_path, class: "text-4xl ml-16" %>
  </div>
  <% if current_user %>
    <div class="flex-none mr-10 mt-4">
      <div class="px-5">
        <div date-rangepicker class="flex items-center">
          <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <i class="fa-solid fa-calendar"></i>
                </div>
                <input name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
            </div>
          <span class="px-4 text-gray-500">to</span>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <i class="fa-solid fa-calendar"></i>
            </div>
            <input name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end">
        </div>
        </div>
      </div>
      <div class="px-5">
        <label for="default-toggle" class="inline-flex relative items-center cursor-pointer">
          <input type="checkbox" value="" id="default-toggle" class="sr-only peer">
          <div class="w-11 h-6 bg-headline peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-headline rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-base-300 after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-base-100 after:border-headline after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:headline"></div>
          <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Sort</span>
        </label>
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <i class="fa-solid fa-user mt-2.5 text-xl"></i>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to schedules_path do %>
            <p><i class="fa-solid fa-calendar mr-2"></i>Schedule Index</p>
          <% end %></li>
          <li><%= link_to schedule_bases_path do %>
            <p><i class="fa-solid fa-calendar-plus mr-2"></i>Schedule Base</p>
          <% end %></li>
          <li><%= link_to categories_path do %>
            <p><i class="fa-solid fa-tag mr-2"></i>Category Create</p>
          <% end %></li>
          <li><%= link_to terms_regulation_path, class: 'border-t' do%>
            <p><i class="fa-solid fa-book-open-reader mr-2"></i>Terms of Use</p>
          <% end %></li>
          <li><%= link_to privacy_regulation_path do %>
            <p><i class="fa-solid fa-user-lock mr-2"></i>Privacy Policy</p>
          <% end %></li>
          <li><%= link_to :logout, data: { turbo_method: :post }, class: 'border-t' do %>
            <p><i class="fa-solid fa-arrow-right-from-bracket mr-2"></i>Logout</p>
          <% end %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="flex-none">
      <label tabindex="0" class="btn btn-ghost btn-circle px-5">
        <%= link_to new_user_path, class: 'btn btn-ghost btn-circle' do %>
          <i class="fa-solid fa-user-plus text-xl"></i>
        <% end %>
      </label>
      <div tabindex="0" class="px-5">
        <%= link_to :login, class: 'btn btn-ghost btn-circle' do %>
          <i class="fa-solid fa-arrow-right-to-bracket text-xl"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
