<div class="navbar bg-natural py-10">
  <div class="flex-1">
    <%= link_to 'a meta note', root_path, class: "text-4xl ml-16" %>
  </div>
  <% if current_user %>
    <div class="flex-none">
      <div class="mx-5">
        <label for="default-toggle" class="inline-flex relative items-center cursor-pointer">
          <input type="checkbox" value="" id="default-toggle" class="sr-only peer">
          <div class="w-11 h-6 bg-headline peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-headline rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-base-300 after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-base-100 after:border-headline after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:headline"></div>
          <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Sort</span>
        </label>
      </div>
      <div tabindex="0" class="mx-5">
        <%= link_to "#", class: 'btn btn-ghost btn-circle' do %>
          <i class="fa-solid fa-map text-xl"></i>
        <% end %>
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar mx-5">
          <div class="w-10 rounded-full">
            <img src="https://api.lorem.space/image/face?hash=33791" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to "Logout", :logout, data: { turbo_method: :post } %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="flex-none">
      <label tabindex="0" class="btn btn-ghost btn-circle mx-5">
        <%= link_to new_user_path, class: 'btn btn-ghost btn-circle' do %>
          <i class="fa-solid fa-user-plus text-xl"></i>
        <% end %>
      </label>
      <div tabindex="0" class="mx-5">
        <%= link_to :login, class: 'btn btn-ghost btn-circle' do %>
          <i class="fa-solid fa-arrow-right-to-bracket text-xl"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
