<% if category.color == "blue" %>
  <div class="flex justify-start">
    <p class="h-5 w-5 bg-blue-100 rounded-full"></p>
    <p class="ml-2"><%= category.color %></p>
  </div>
<% elsif category.color == "red" %>
  <div class="flex justify-start">
    <p class="h-5 w-5 bg-red-100 rounded-full"></p>
    <p class="ml-2"><%= category.color %></p>
  </div>
<% elsif category.color == "orange" %>
  <div class="flex justify-start">
    <p class="h-5 w-5 bg-orange-100 rounded-full"></p>
    <p class="ml-2"><%= category.color %></p>
  </div>
<% elsif category.color == "yellow" %>
  <div class="flex justify-start">
    <p class="h-5 w-5 bg-yellow-100 rounded-full"></p>
    <p class="ml-2"><%= category.color %></p>
  </div>
<% elsif category.color == "green" %>
  <div class="flex justify-start">
    <p class="h-5 w-5 bg-green-100 rounded-full"></p>
    <p class="ml-2"><%= category.color %></p>
  </div>
<% elsif category.color == "purple" %>
  <div class="flex justify-start">
    <p class="h-5 w-5 bg-purple-100 rounded-full"></p>
    <p class="ml-2"><%= category.color %></p>
  </div>
<% else %>
  <div class="flex justify-start">
    <p class="h-5 w-5 bg-gray-100 rounded-full"></p>
    <p class="ml-2"><%= category.color %></p>
  </div>
<% end %>
